# Python
.venv/
dev/
chess/chess_env/
go/go_env/

# Outputs / caches
results/

# Data & weights
**/training/*.csv
**/testing/*.csv
**/testing_by_player/*.csv
**/candidating/*.csv
chess/lc0/
chess/pybind/
**/削除用.ipynb
memo.md
test.py


